html, body, #texteditor {
	height: 97%;
}

#texteditor {
	font-size: large;
	text-shadow: 0px 1px 3px black;
	border-color: #444242;
	transition: border-color 0.2s;
	outline: none;
	border-style: dashed;
	margin-top: 10px;
	background-color: #1d1a1d;
}

#texteditor:focus {
	border-color: #008ab4;
}

#texteditor::selection {
	background-color: #ed143db5;
	color: white;
}


.tooltip {
	background-color: rgba(0, 0, 0, 0.7);
	color: #00f3ea;
	border-radius: 4px;
	padding: 5px;
	font-size: 15px;
	pointer-events: none;
	position: absolute;
	z-index: 1000;
	display: none;
	/* max-width: 300px; */
	word-wrap: break-word;
	font-family: sauerfont;
}

.tooltip span {
	color: #9b9b9b;
}

.tooltip .comment {
	color: #9b9b9b;
	font-style: italic;
}

.param {
	border-radius: 2px;
}

.param.active {
	color: #31ffbe;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 2px;
	padding: 2px 4px;
}

.param.hasDetails {
	text-decoration: underline;
	cursor: help;
	pointer-events: all;
}

.param.active:not(.hasDetails)::after {
	color: grey;
	content: ' 🛈';
}

.tooltip .param.hasDetails::after {
	content: ' 🛈';
}

.autocomplete-container {
	background-color: rgba(0, 0, 0, 0.7);
	color: #00f3ea;
	border-radius: 4px;
	position: absolute;
	z-index: 9999;
	font-family: monospace;
	font-size: 14px;
	max-height: 200px;
	overflow-y: auto;
	border-radius: 0px 12px 12px;
	border-top-left-radius: 0px;
}

.autocomplete-container .item.selected {
	background-color: #555;
	color: rgb(255, 255, 255);
}

.autocomplete-container .function-item  {
	color: #007acc;
}

.autocomplete-container .object-item {
	color: #a45ee5;
}

.autocomplete-container .item {
	padding: 4px 8px;
	cursor: pointer;
}

.autocomplete-container .item:hover {
	background: #40b9ff;
}


.ace-one-dark .ace_fold {
	background-color: #00f3ea;
}

.ace_gutter-cell.ace_error, .ace_icon.ace_error, .ace_icon.ace_error_fold, .ace_gutter-cell.ace_security, .ace_icon.ace_security, .ace_icon.ace_security_fold {
	background-image: url('../images/exit.jpg');
}

.ace_dark .ace_gutter-cell.ace_info, .ace_dark .ace_icon.ace_info, .ace_dark .ace_gutter-cell.ace_hint, .ace_dark .ace_icon.ace_hint {
	background-image: url('../images/info.jpg');
}

.ace_gutter-cell.ace_warning, .ace_icon.ace_warning, .ace_icon.ace_warning_fold {
	background-image: url('../images/warn.png');
}